.nav-bar{
    height: 100px;
    width: auto;
    top: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.nav-bar>ul {
    display: flex;
    width: 25%;
    justify-content: space-between;
    list-style-type:none ;   
    font-size: 1.5em;
    color: #8dc63f;
}
.nav-bar>ul>li:hover {
    text-decoration: underline;
    color: #ffffff;
    background-color: #8dc63f; 
}
.nav-bar>img{
    height: 70px;
}
.para{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



